.homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .div {
    background-color: #ffffff;
    height: 3536px;
    position: relative;
    width: 1512px;
  }
  
  .homepage .overlap {
    height: 812px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 1512px;
  }
  
  .homepage .overlap-group {
    height: 812px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
  }
  
  .homepage .text {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 341px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54px;
  }
  
  .homepage .learn {
    height: 728px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 84px;
    width: 1512px;
  }
  
  .homepage .image {
    height: 78px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 341px;
  }
  
  .homepage .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 210px;
    width: 968px;
  }
  
  .homepage .p {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 475px;
    width: 1062px;
  }
  
  .homepage .NOTIFICATON {
    height: 55px;
    left: 1324px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 54px;
  }
  
  .homepage .ellipse {
    background-color: #d9d9d9;
    border-radius: 37.5px/36.5px;
    height: 73px;
    left: 1406px;
    position: absolute;
    top: 3px;
    width: 75px;
  }
  
  .homepage .overlap-group-2 {
    height: 281px;
    left: 0;
    position: absolute;
    top: 3255px;
    width: 1512px;
  }
  
  .homepage .rectangle {
    background-color: #000e33;
    height: 280px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1512px;
  }
  
  .homepage .IG {
    height: 37px;
    left: 521px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 55px;
  }
  
  .homepage .TWEETER {
    height: 41px;
    left: 528px;
    object-fit: cover;
    position: absolute;
    top: 51px;
    width: 42px;
  }
  
  .homepage .EML {
    height: 33px;
    left: 528px;
    object-fit: cover;
    position: absolute;
    top: 108px;
    width: 46px;
  }
  
  .homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .homepage .text-wrapper-3 {
    color: #ffffff;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
  }
  
  .homepage .text-wrapper-4 {
    color: #ffffff;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 90px;
  }
  
  .homepage .phone {
    height: 53px;
    left: 528px;
    object-fit: cover;
    position: absolute;
    top: 157px;
    width: 48px;
  }
  
  .homepage .text-wrapper-5 {
    color: #ffffff;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 149px;
  }
  
  .homepage .text-wrapper-6 {
    color: #ffffff;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 528px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 218px;
  }
  
  .homepage .discover-grow {
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 72px;
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 855px;
    width: 968px;
  }
  
  .homepage .span {
    color: #002177;
  }
  
  .homepage .text-wrapper-7 {
    color: #000000;
  }
  
  .homepage .text-wrapper-8 {
    color: #ff7512e6;
  }
  
  .homepage .text-wrapper-9 {
    color: #3b3b3b;
  }
  
  .homepage .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    width: 1278px;
  }
  
  .homepage .img {
    height: 340px;
    left: 787px;
    position: absolute;
    top: 1765px;
    width: 651px;
  }
  
  .homepage .rectangle-2 {
    height: 340px;
    left: 132px;
    object-fit: cover;
    position: absolute;
    top: 2183px;
    width: 651px;
  }
  
  .homepage .rectangle-3 {
    height: 340px;
    left: 787px;
    object-fit: cover;
    position: absolute;
    top: 2616px;
    width: 651px;
  }
  
  .homepage .rectangle-4 {
    height: 340px;
    left: 132px;
    object-fit: cover;
    position: absolute;
    top: 1349px;
    width: 651px;
  }
  
  .homepage .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 322px;
    left: 149px;
    position: absolute;
    top: 1827px;
    width: 531px;
  }
  
  .homepage .span-wrapper {
    align-self: stretch;
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
  }
  
  .homepage .text-wrapper-11 {
    color: #000000;
    font-size: 32px;
  }
  
  .homepage .flexcontainer-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 322px;
    left: 875px;
    position: absolute;
    top: 1414px;
    width: 531px;
  }
  
  .homepage .text-2 {
    align-self: stretch;
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .homepage .text-wrapper-12 {
    color: #000000;
    font-size: 30px;
  }
  
  .homepage .flexcontainer-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 322px;
    left: 875px;
    position: absolute;
    top: 2245px;
    width: 531px;
  }
  
  .homepage .flexcontainer-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 322px;
    left: 149px;
    position: absolute;
    top: 2678px;
    width: 531px;
  }
  
  .homepage .flexcontainer-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 204px;
    left: 216px;
    position: absolute;
    top: 3003px;
    width: 1155px;
  }
  
  .homepage .text-3 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .homepage .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
  }
  