.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  height: 3536px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.homepage .footer {
  background-color: transparent;
  height: 280px;
  left: 0;
  position: absolute;
  top: 3259px;
  width: 1520px;
}

.homepage .overlap-group {
  background-color: #000e33;
  height: 280px;
  position: relative;
  width: 1512px;
}

.homepage .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}

.homepage .map {
  height: 204px;
  left: 1049px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 338px;
}

.homepage .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 119px;
  white-space: nowrap;
}

.homepage .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}

.homepage .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.homepage .call {
  height: 53px;
  left: 67px;
  position: absolute;
  top: 176px;
  width: 350px;
}

.homepage .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.homepage .phone {
  height: 53px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 48px;
}

.homepage .email {
  height: 40px;
  left: 67px;
  position: absolute;
  top: 127px;
  width: 338px;
}

.homepage .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.homepage .EML {
  height: 33px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 46px;
}

.homepage .x {
  height: 41px;
  left: 67px;
  position: absolute;
  top: 70px;
  width: 292px;
}

.homepage .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.homepage .img {
  height: 41px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 42px;
}

.homepage .IG {
  height: 37px;
  left: 60px;
  position: absolute;
  top: 24px;
  width: 260px;
}

.homepage .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.homepage .IG-2 {
  height: 37px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 55px;
}

.homepage .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 204px;
  left: 214px;
  position: absolute;
  top: 3052px;
  width: 1155px;
}

.homepage .text {
  align-self: stretch;
  color: #000000;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
}

.homepage .span {
  color: #000000;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
}

.homepage .filter {
  height: 382px;
  left: 149px;
  position: absolute;
  top: 2619px;
  width: 1288px;
}

.homepage .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 322px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 531px;
}

.homepage .p {
  align-self: stretch;
  color: transparent;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
}

.homepage .text-wrapper-9 {
  color: #002177;
}

.homepage .text-wrapper-10 {
  color: #000000;
  font-size: 25px;
}

.homepage .text-wrapper-11 {
  color: #000000;
  font-size: 32px;
}

.homepage .rectangle {
  height: 340px;
  left: 638px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 651px;
}

.homepage .respond {
  height: 382px;
  left: 135px;
  position: absolute;
  top: 2186px;
  width: 1273px;
}

.homepage .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 322px;
  left: 740px;
  position: absolute;
  top: 60px;
  width: 531px;
}

.homepage .text-2 {
  align-self: stretch;
  color: transparent;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  position: relative;
}

.homepage .text-wrapper-12 {
  color: #000000;
}

.homepage .text-wrapper-13 {
  color: #000000;
  font-size: 25px;
  line-height: 40px;
}

.homepage .rectangle-2 {
  height: 340px;
  left: -3px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 651px;
}

.homepage .reach-out {
  height: 382px;
  left: 149px;
  position: absolute;
  top: 1768px;
  width: 1288px;
}

.homepage .text-3 {
  align-self: stretch;
  color: transparent;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  position: relative;
  text-align: right;
}

.homepage .rectangle-3 {
  height: 340px;
  left: 638px;
  position: absolute;
  top: -3px;
  width: 651px;
}

.homepage .search {
  height: 385px;
  left: 135px;
  position: absolute;
  top: 1352px;
  width: 1273px;
}

.homepage .flexcontainer-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 322px;
  left: 740px;
  position: absolute;
  top: 63px;
  width: 531px;
}

.homepage .page-content {
  height: 394px;
  left: 84px;
  position: absolute;
  top: 856px;
  width: 1282px;
}

.homepage .text-wrapper-14 {
  color: #000000;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 86px;
  width: 1278px;
}

.homepage .discover-grow {
  color: transparent;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 72px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 968px;
}

.homepage .text-wrapper-15 {
  color: #ff7512e6;
}

.homepage .text-wrapper-16 {
  color: #3b3b3b;
}

.homepage .overlap-wrapper {
  height: 728px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 1516px;
}

.homepage .overlap {
  background-image: url(https://moringaschool.com/wp-content/uploads/2022/01/backend.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 748px;
  position: relative;
  top: -10px;
  width: 1512px;
}

.homepage .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 385px;
  width: 1062px;
}

.homepage .text-wrapper-18 {
  color: #ffffff;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 90px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  width: 859px;
}

.homepage .overlap-2 {
  height: 78px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 1466px;
}

.homepage .nav-bar-items {
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1466px;
}

.homepage .ellipse {
  background-color: #fa510f;
  border-radius: 37.5px/36.5px;
  height: 73px;
  left: 1391px;
  position: absolute;
  top: 3px;
  width: 75px;
}

.homepage .NOTIFICATON {
  height: 55px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 54px;
}

.homepage .image {
  height: 78px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 341px;
}

.homepage .text-wrapper-19 {
  color: #000000;
  font-family: "Comfortaa-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 878px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 54px;
}

.homepage .text-wrapper-20 {
  color: #000000;
  font-family: "Comfortaa-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 991px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.homepage .text-wrapper-21 {
  color: #000000;
  font-family: "Comfortaa-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 1104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}
