.login-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .div {
  background-color: #ffffff;
  height: 982px;
  position: relative;
  width: 1512px;
}

.login-page .overlap {
  /* background-image: url(./https://media.istockphoto.com/id/1255928059/photo/young-caucasian-female-programmer-in-glasses-writes-program-code-on-a-laptop.jpg?s=612x612&w=0&k=20&c=TltdnbJUzCuUD-Mx9FgzYCHk-k49ejpqQpnZvWadXnM=); */
  background-size: 100% 100%;
  height: 920px;
  left: 795px;
  position: absolute;
  top: 52px;
  width: 672px;
}

.login-page .text-wrapper {
  color: #fa510f;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 125px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 732px;
  width: 418px;
}

.login-page .text-wrapper-2 {
  color: #000000;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 261px;
  width: 196px;
}

.login-page .text-wrapper-3 {
  color: #000000;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 204px;
  width: 489px;
}

.login-page .password {
  height: 30px;
  left: 105px;
  position: absolute;
  top: 424px;
  width: 459px;
}

.login-page .overlap-group {
  height: 31px;
  position: relative;
}

.login-page .text-wrapper-4 {
  color: #000000bf;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 135px;
}

.login-page .line {
  height: 3px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 459px;
}

.login-page .email {
  height: 30px;
  left: 104px;
  position: absolute;
  top: 345px;
  width: 459px;
}

.login-page .input {
  background: transparent;
  border: none;
  color: #000000bf;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 51px;
}

.login-page .img {
  height: 3px;
  left: -1px;
  position: absolute;
  top: 28px;
  width: 459px;
}

.login-page .create-account {
  height: 40px;
  left: 186px;
  position: absolute;
  top: 654px;
  width: 302px;
}

.login-page .div-wrapper {
  background-color: #1f9801;
  border-radius: 50px;
  height: 40px;
  position: relative;
  width: 300px;
}

.login-page .text-wrapper-5 {
  color: #ffffff;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 148px;
}

.login-page .image {
  height: 78px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 341px;
}



.login-page .unnamed {
  /* height: 865px;
  width: 650px;
  left:20px; */
  position: static;
  border-radius: 100px;
  height: auto;
  width: 700px;
  
  border-radius: 100px;
   margin-top: 150px ; 
  align-items: center;
  
  
  
}
